*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Nunito",sans-serif;
    background-image: url('PHOTO-dark\ and\ stormy\ cloudscape-istock-1125x534-Landscape.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height:80vh;
    background-color: black;
}
.input{
    text-align: center;
    margin-top:60px;
}
input[type="text"]{
    height: 40px;
    width: 500px;
    font-family: "Nunito",sans-serif;
    background-color: #e7e7e7;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2.6px;
}
input[type="submit"]{
    height: 40px;
    width: 80px;
    background-color: #e7e7e7;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2.6px;
}
.name{
    margin-bottom:7px;
}
.img{
    display: block;
}
.top{
    display: flex;
    justify-content: space-around;
    margin:0 75px;
}
.bottom{
    margin:7px;
    justify-content: space-around;
}
.prop div{
    display: flex;
    justify-content:space-around;
}
.prop{
    display: none;
}
.top h1{
    margin: auto;
}
.display{
    text-shadow:.8px .8px 1px rgba(0, 0, 0, 0.445);
    line-height:27px;
    text-align: center;
    background-color: rgba(219, 222, 223, 0.521);
    width: 550px;
    padding:5px;
    border: 1px solid rgba(255, 255, 255, 0.384);
    box-shadow: 1px -1px 3px rgb(226, 215, 215);
    margin:20px auto;
    border-radius:3px;
}
@media only screen and (max-width: 600px){
    input[type="text"]{
        height: 30px;
        width: 330px;
        font-size:13px;
    }
    input[type="submit"]{
        height: 30px;
        width: 45px;
        font-size:13px;
    }
    .display{
        width:min-content;
    }
}
@media only screen and (max-width: 380px){
    input[type="text"]{
        height: 30px;
        width: 250px;
        font-size:13px;
    }
    input[type="submit"]{
        margin-top: 5px;
        height: 30px;
        width: 45px;
        font-size:13px;
    }
    .display{
        width:260px;
    }
}